@mixin parametros-margin ($arriva, $derecha, $izquierda, $abajo) {
    margin:$arriva $derecha $izquierda $abajo ;
}

@mixin parametros-padding ($arriva, $derecha, $izquierda, $abajo) {
    padding:$arriva $derecha $izquierda $abajo ;
}

@mixin altura-ancho ($altura, $ancho){
    height: $altura;
    width: $ancho;
}

@mixin flex-organizacion ($fle-dir, $fle-wra, $ali-con, $jus-con, $ali-ite) {
    display: flex;
    flex-direction: $fle-dir;
    flex-wrap: $fle-wra;
    align-content: $ali-con;
    justify-content: $jus-con;
    align-items: $ali-ite;
}

@mixin grid-organizacion ($ali-con, $jus-con, $ali-ite, $jus-ite) {
    display: grid;
    align-content: $ali-con;
    justify-content: $jus-con;
    align-items: $ali-ite;
    justify-items: $jus-ite;
}


@media (min-width: 576px) and (max-width: 767px){

    .retrato {
        @include parametros-margin(0px, 0px, 0px, 0px);
        @include parametros-padding(0px, 40%, 0px, 40%);
        border: 10px;
        @include flex-organizacion(row, nowrap, normal, space-around, normal);
    }

    .primerparrafo{
        font-size: 20px;
        text-align: justify;
        @include parametros-padding(0px, 30px, 0px, 30px);
    }

    .card-texto-introductorio{
        @include flex-organizacion(column, nowrap, normal, normal, normal);
    }

    header nav ul .card-links-header a {
        font-size: 25px;
        @include parametros-padding(8px, 8px, 8px, 8px);
    }


    .primera-seccion {
        @include parametros-margin(69px, 0px, 0px, 2%);
    }

    .row{
        flex-wrap: nowrap;
        @include altura-ancho(auto, 70%);
    }

    .tipo-de-obra {
        @include parametros-margin(0px, 0px, 0px, 4%);
    }

    .grid-seccion{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .grid-seccion .contenedor-principal .card-link .card-container {
        @include altura-ancho(auto, 555px);
    }

    .card-registro{
        @include altura-ancho(auto, 550px);
    }

    .card-div-footer-textos{
        font-size: 12px;
    }

    .grid-seccion .contenedor-principal .card-link .nombre-titular {
        position:static;
    }


    .card-obra{
        @include parametros-margin(0px, 0px, 0px, 67px);
        position: relative;
        .contenedor-texto-de-obra{
            display: none;
            position: absolute;
            top: 276px;
            right: 1px;
            @include altura-ancho(240px, 554px);
        }
    }                            

    #imagen:hover + #contenedor-texto-de-obra {
        display: block;
    }

    .obra-mas-conocida-del-autor{
        position: absolute;
    }

    .contenedor-texto-de-obra{
        @include altura-ancho(286px, 150px)
    }

    .grid-seccion .contenedor-principal .card-link .card-container .card-autor .card-obra .contenedor-texto-de-obra .nombre-de-la-obra{
        @include parametros-margin(18px, 0%, 10px, 38px);
    }

    .card-autor{
        @include parametros-margin(0px, 0px, 283px, 0px);
    }

    #contenedor-de-tertulia{
        @include altura-ancho(auto, 562px);
    }

    .card-container---tertulia {
        @include altura-ancho(auto, 558px);
    }
}

@media (min-width: 768px) and (max-width: 991px){

    .primerparrafo{
        font-size: 20px;
        text-align: justify;
        @include parametros-padding(0px, 30px, 0px, 30px);
    }


    .primera-seccion {
        @include parametros-margin(69px, 0px, 0px, 2%);
    }


    .row{
        flex-wrap: nowrap;
        @include altura-ancho(auto, 70%);
    }

    .tipo-de-obra {
        @include parametros-margin(0px, 0px, 0px, 4%);
    }

    .grid-seccion{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .card-container---tertulia {
        @include altura-ancho(auto, 740px);
    }
}


@media (min-width: 992px) and (max-width: 1199px){

    .grid-seccion .contenedor-principal .card-link .card-container{
        @include altura-ancho(auto, 470px);
    }

    .grid-seccion .contenedor-principal .card-link .nombre-titular {
        position:static;
    }

    .card-obra{
        @include parametros-margin(0px, 0px, 0px, 24px);
    }

    .obra-mas-conocida-del-autor{
        position: absolute;
    }

    .contenedor-texto-de-obra{
        @include altura-ancho(286px, 150px)
    }

    .grid-seccion .contenedor-principal .card-link .card-container .card-autor .card-obra .contenedor-texto-de-obra .nombre-de-la-obra{
        @include parametros-margin(18px, 0%, 10px, 38px);
    }

    .card-autor{
        @include parametros-margin(0px, 0px, 283px, 0px);
    }

    .card-obra{
        position: relative;
        .contenedor-texto-de-obra{
            display: none;
            position: absolute;
            top: 276px;
            right: 1px;
            @include altura-ancho(240px, 459px);
        }
    }                            

    #imagen:hover + #contenedor-texto-de-obra {
        display: block;
    }

    #grid-tertulia{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .card-container---tertulia{
        @include altura-ancho(auto, 930px);
    }
}